[submodule "LaplacianNet"]
	path = LaplacianNet
	url = https://github.com/naivoder/LaplacianNet
[submodule "VitCapsuleNet"]
	path = VitCapsuleNet
	url = https://github.com/naivoder/VitCapsuleNet
[submodule "SubtractNet"]
	path = SubtractNet
	url = git@github.com:naivoder/SubtractNet.git
